####################################################
################## OPEN ROUTER #####################
####################################################

OPENROUTER_API_KEY=

####################################################
#################### BINANCE #######################
####################################################

BINANCE_API_KEY=
BINANCE_SECRET_KEY=

####################################################
#################### DISCORD #######################
####################################################

DISCORD_WEBHOOK_URL=

####################################################
################### SUPABASE #######################
####################################################

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=